@mixin inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

// flex-box
@mixin flex-box($direction: direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}
